DATABASE_URL=postgresql://postgres.fywtaljpgczidqtjkrgz:Longnabati123@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres
PGSSLMODE=require
SESSION_SECRET=replace-with-a-long-random-secret

NODE_ENV=production
PORT=3100
COOKIE_SECURE=false
FRONTEND_ORIGIN=http://localhost:3100
BACKEND_ORIGIN=http://localhost:3100

GOOGLE_CLIENT_ID=329206852722-1mg4497d00r53819asvqc2vvb74qtdn5.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:3100/api/auth/google/callback

FACEBOOK_APP_ID=1313461666852897
FACEBOOK_APP_SECRET=0661a71b8d53e539bb13dedc87057e1e
FACEBOOK_REDIRECT_URI=http://localhost:3100/api/auth/facebook/callback
